--landcover_map
$sourceProductFile[0]
--lai_map
$sourceProductFile[1]
--fgv_map
$sourceProductFile[2]
--landcover_band
$landcover_band
--lookup_table
$look_up_table
--produce_vh
$produce_vegetation_height
--produce_fc
$produce_fractional_cover
--produce_chwr
$produce_canopy_height_width_ratio
--produce_lw
$produce_leaf_width
--produce_lid
$produce_leaf_inclination_distribution
--produce_igbp
$produce_IGBP_classification
--output_file
$targetProductFile
