--elevation_map
$sourceProductFile
--elevation_band
$elevation_band
--ecmwf_data_file
$ecmwf_data_file
--date_time_UTC
$date_time_UTC
--prepare_temperature
$prepare_temperature
--prepare_vapour_pressure
$prepare_vapour_pressure
--prepare_air_pressure
$prepare_air_pressure
--prepare_wind_speed
$prepare_wind_speed
--prepare_clear_sky_solar_radiation
$prepare_clear_sky_solar_radiation
--prepare_daily_solar_irradiance
$prepare_daily_solar_irradiance
--output_file
$output_file
