--area
$area
--start_date
$start_date
--end_date
$end_date
--download_path
$targetProductFile
--download_temperature
$download_temperature
--download_dewpoint
$download_dewpoint
--download_pressure
$download_pressure
--download_wind_speed
$download_wind_speed
--download_clear_sky_solar_radiation
$download_clear_sky_solar_radiation
--download_solar_radiation
$download_solar_radiation
--overwrite
$overwrite
