-aoi_geojson
$aoi_geojson
-start_date
$start_date
-end_date
$end_date
-platform
$platform
-download_path
$download_path
-username
$username
-password
$password
-download_images
$download_images
-cloud_cover_percentage
$cloud_cover_percentage