--lst
$sourceProductFile[0]
--lst_vza
$sourceProductFile[1]
--lai
$sourceProductFile[2]
--csp
$sourceProductFile[3]
--fgv
$sourceProductFile[4]
--ar
$sourceProductFile[5]
--mi
$sourceProductFile[6]
--nsr
$sourceProductFile[7]
--li
$sourceProductFile[8]
--mask
$sourceProductFile[9]
--soil_roughness
$soil_roughness
--alpha_pt
$alpha_pt
--atmospheric_measurement_height
$atmospheric_measurement_height
--green_vegetation_emissivity
$green_vegetation_emissivity
--soil_emissivity
$soil_emissivity
--save_component_fluxes
$save_component_fluxes
--save_component_temperature
$save_component_temperature
--save_aerodynamic_parameters
$save_aerodynamic_parameters
--output_file
$targetProductFile
