--sentinel_2_reflectance
$sourceProductFile[0]
--sentinel_3_lst
$sourceProductFile[1]
--high_res_dem
$sourceProductFile[2]
--high_res_geom
$sourceProductFile[3]
--lst_quality_mask
$sourceProductFile[4]
--date_time_utc
$date_time_UTC
--elevation_band
$elevation_band
--lst_good_quality_flags
$low_res_good_quality_flags
--cv_homogeneity_threshold
$cv_homogeneity_threshold
--moving_window_size
$moving_window_size
--parallel_jobs
$parallel_jobs
--output
$targetProductFile
